body {
    margin: 0;
    padding: 0;
    background-color: wheat;
    font-family: sans-serif, arial;
}

.header {
    max-height: auto;
    max-width: auto;
    background-color: rgb(116, 48, 0);
    padding: 2px;
    display: flex;
    min-width: auto;
    gap: 10px;
    justify-content: space-between;
}

/* Header Left Side */
.header img {
    max-height: 200px;
    min-height: 100px;
}


/* Header Right Side */
.navbar {
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 6px;
    max-height: 200px;
    justify-content: space-between;

}

.header-quote {
    padding-left: 30%;
    max-height: 100px;
    font-weight: 700;
    
}
#pleft {
    text-align: right;
    padding-right: 4px;
}

.header-buttons {
    display: flex;
    max-height: 100px;
    flex-direction: row-reverse;
    gap: 12px;
}
.header-buttons a {
    color: inherit;
    text-decoration: inherit;
}
.hbut1, .hbut2, .hbut3 {
    background-color: saddlebrown;
    color: black;
    padding: 4px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
}

/* Main page content*/
.page-header {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
}
.big-small-info {
    align-self: center;
    border-radius: 10px;
    background-color: rgb(116, 48, 0);
    padding-left: 6px;
    padding-right: 6px;
}
.small-info {
    align-self: center;
    font-size: 12px;
}
.contain-project-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-box {
    display: flex;
    justify-content: center;
    max-height: auto;
    max-width: auto;
    padding: 2px;
    gap: 45px;
    min-width: auto;
}
.project-box img {
    height: 150px;
    width: 150px;
    border-radius: 16px;
}
.project-text {
    display: flex;
    justify-content: center;
    gap: 45px;
}
.project-text div {
    display: flex;
    align-self: stretch;
    justify-content: center;
    width:  150px;
    text-align: center;
    font-weight: 600;
}
/* Main Page Bottom Content - not footer! - */
.q-container {
    display: flex;
    border: 4px solid black;
    margin-top: 100px;
    justify-content: center;
}