body {
    margin: 0;
    padding: 0;
    background-color: wheat;
    font-family: sans-serif, arial;
}

.header {
    max-height: auto;
    max-width: auto;
    background-color: rgb(116, 48, 0);
    padding: 2px;
    display: flex;
    min-width: auto;
    gap: 10px;
    justify-content: space-between;
}

/* Header Left Side */
.header img {
    max-height: 200px;
    min-height: 100px;
}


/* Header Right Side */
.navbar {
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 6px;
    max-height: 200px;
    justify-content: space-between;

}

.header-quote {
    padding-left: 30%;
    max-height: 100px;
    font-weight: 700;
    
}
#pleft {
    text-align: right;
    padding-right: 4px;
}

.header-buttons {
    display: flex;
    max-height: 100px;
    flex-direction: row-reverse;
    gap: 12px;
}
.header-buttons a {
    color: inherit;
    text-decoration: inherit;
}
.hbut1, .hbut2, .hbut3 {
    background-color: saddlebrown;
    color: black;
    padding: 4px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    border: 2px solid rgb(78, 49, 4);
}

/* Main Page Top Content*/
.page-header {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
}
.big-small-info {
    align-self: center;
    border-radius: 10px;
    background-color: rgb(116, 48, 0);
    padding-left: 6px;
    padding-right: 6px;
}
.small-info {
    align-self: center;
    font-size: 12px;
}
.contain-project-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-box {
    display: flex;
    justify-content: center;
    max-height: auto;
    max-width: auto;
    padding: 2px;
    gap: 45px;
    min-width: auto;
}
.project-box img {
    height: 150px;
    width: 150px;
    border-radius: 16px;
}
.project-text {
    display: flex;
    justify-content: center;
    gap: 45px;
}
.project-text div {
    display: flex;
    align-self: stretch;
    justify-content: center;
    width:  150px;
    text-align: center;
    font-weight: 600;
}
/* Main Page Center Content */
.q-container {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    justify-content: center;
    background-color: rgba(139, 69, 19, .6);
}
.q-container p {
    display: flex;
    justify-content: center;
    width: 400px;
    font-weight: 600;
    font-size: 18px;
}
.q-title1 {
    display: flex;
    text-align: center;
    width: 400px;
    padding-top: 10px;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 12px;
}
.q-title2 {
    width: 400px;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center;
} 

/* Main Page Bottom Content - not footer! - */
.contain-signup {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
}
.medium-signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(116, 48, 0);
    height: 125px;
    width: 720px;
}
.signup-content {
    font-size: 18px;
    font-weight: 700;
}
.signup-content p {
    font-size: 12px;
    font-weight: 100;
}
.signup-button {
    background-color: saddlebrown;
    color: black;
    padding: 4px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid rgb(78, 49, 4);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(116, 48, 0);
}
footer div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
footer p {
    margin: 0;
}